<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Sessions</title>
</head>
<body>
<h2>Gestion des Sessions</h2>

<div>
    <div>Ajouter une nouvelle Session</div>
    <div>
        <form th:action="@{/session/add}" method="post">
            <input type="text" name="name" placeholder="Nom de la session" required>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${listSessions}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.name}"></td>
        <td>
            <form th:action="@{/session/delete}" method="post">
                <input type="hidden" th:value="${s.id}" name="id">
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
